<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Assignmentor</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <h1>Assignmentor</h1>
      <p>"Perfect answers with a single click!"</p>
      <!-- <label for="myFile" id="pdfSelect"> Choose PDF</label>
      <input id="myFile" type="file" />
      <input type="submit" id="select" /> -->
      <form method=post enctype=multipart/form-data>
        <label for="myFile" id="fileSelect"> Choose PDF</label>
       <input id="myFile" type=file name=file id="s1">
        <input type=submit value=Upload id="select">
      </form>
    </main>
    <script>
      const fileSelect = document.querySelector("#fileSelect");
      const myFile = document.querySelector("#myFile");

      const rewrite = (e) => {
        console.log(myFile.value);
        fileSelect.innerHTML = myFile.value.slice(12);
      };

      myFile.addEventListener("change", rewrite);
    </script>
  </body>
</html>
